* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 导航栏 */
.container {
    display: flex;
    padding: 20px 0;
    margin: 0 auto;
    justify-content: space-around;
}

.header-left img {
    height: 80px;
}

.header-center {
    display: flex;
    width: 640px;
    justify-content: space-between;
    line-height: 80px;
}

.header-center a {
    font-size: 18px;
    letter-spacing: 0.1em;
    font-family: '宋体';
    font-weight: bold;
    color: #333333;
    padding: 0;
    position: relative;
    transition: all .2s;
}

.header-center a:nth-of-type(5):before {
    content: '';
    position: absolute;
    top: 70%;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 2px;
    background-color: #0078ff;
}

.header-center a:hover {
    color: #0078ff;
}

.header-right {
    width: 120px;
    height: auto;
    position: relative;
}

.header-button {
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 9999;
    line-height: 90px;
    transition: all .3s;
    cursor: pointer;
}

.header-button a {
    color: #333333;
    font-family: '宋体';
    letter-spacing: 0.1em;
}

.header-button img {
    height: 24px;
}

.header-button p {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 10px;
    text-indent: 10px;
}

.header-button p:hover {
    color: #ffffff;
    border-radius: 4px;
    background-color: #0078ff;
}

.header-button p {
    height: 0;
    transition: .3s;
    opacity: 0;
    transform: translateY(-65px);
    background-color: #ffffff;
    border-top: 1px solid #f4f5f9;
}

.header-button:hover p {
    height: 80px;
    opacity: 1;
    transform: translateY(0);
}

/* banner */
.banner {
    width: 1240px;
    height: 680px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.upper {
    width: 740px;
    height: 450px;
    position: relative;
    z-index: 99;
    background-color: #333333;
}

.upper a {
    display: inline-block;
    opacity: .8;
    transition: opacity .2s ease-in-out;
}

.upper a:hover {
    opacity: 1;
}

.upper a img {
    display: block;
    width: 100%;
    height: 450px;
    transition: box-shadow .2s;
    box-shadow: 10px 15px 35px -5px rgb(0 0 0 / 25%);
}

.upper a img:hover {
    box-shadow: none;
}

.lower {
    width: 860px;
    height: 324px;
    padding-bottom: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #f4f5f9;
}

.lower .text {
    width: 500px;
    height: 94px;
    font-family: '宋体';
    font-size: 24px;
    font-weight: bold;
    color: #666666;
    text-align: center;
    line-height: 94px;
    margin-left: 360px;
}

.lower .content {
    width: 860px;
    height: 230px;
    display: flex;
    justify-content: space-evenly;
}

.content .box-one,
.box-two,
.box-three {
    height: 230px;
    position: relative;
    margin-right: 80px;
}

.content .box-three {
    margin-right: 0;
}

.box-one img {
    width: 148px;
    margin-top: 50px;
}

.box-two img {
    width: 180px;
    margin-top: 50px;
}

.box-three img {
    width: 178px;
    margin-top: 50px;
}

.content h3 {
    text-align: center;
    position: absolute;
    font-family: '宋体';
    left: 60px;
    bottom: 0;
    font-size: 36px;
    color: #0078ff;
}

.box-one h3 {
    left: 30px;
}

/* 影视 */
.film {
    margin-top: 60px;
    padding: 40px 0;
}

.film h2,
h3 {
    font-family: '宋体';
}

.film-container {
    width: 1240px;
    margin: 0 auto;
}

.film-title img {
    width: 30px;
    float: left;
}

.film-title h2 {
    font-size: 24px;
    color: #333333;
    height: 30px;
    line-height: 30px;
    margin-left: 40px;
}

.film-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.film-one,
.film-two,
.film-three {
    width: 360px;
    max-width: 100%;
}

.film-img {
    margin-bottom: 27px;
    position: relative;
}

.film-img img {
    max-width: 100%;
}

.film-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, .92);
    transform: scale(1.02);
    transition: all .3s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.film-effect:hover {
    transform: scale(1);
    opacity: 1;
}

.effect-left {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #e5e0d5;
    font-size: 14px;
}

.effect-left .time:before {
    content: '|';
    display: inline-block;
    margin: 0 .5em 0 .2em;
}

.film-effect .detail {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    pointer-events: all;
    display: block;
    position: absolute;
}

.film-effect .score {
    top: 25px;
    right: 25px;
    pointer-events: all;
    display: block;
    position: absolute;
    color: #e5e0d5;
    font-size: 14px;
}

.film-effect .view {
    display: block;
    color: #e5e0d5;
    font-size: 14px;
    font-weight: 700;
    pointer-events: all;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: .4em;
}

.film-effect .view:after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 10px;
    background-image: url(./arrow-right-write.svg);
    background-size: 100% 100%;
    margin-left: 10px;
}

.film-box h3 {
    font-size: 800;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
    transition: all .2s;
}

.film-box h3:hover {
    color: #0078ff;
}

.film-user {
    margin-top: 20px;
}

.film-user img {
    vertical-align: middle;
    width: 20px;
}

.film-user span {
    display: inline-block;
    font-size: 14px;
    color: #999999;
}

/* 游戏 */
.game {
    margin-top: 60px;
    background-color: #f4f5f9;
    padding: 40px 0;
}

.game h2,
h3 {
    font-family: '宋体';
}

.game-container {
    width: 1240px;
    margin: 0 auto;
}

.game-title img {
    width: 30px;
    float: left;
}

.game-title h2 {
    font-size: 24px;
    color: #333333;
    height: 30px;
    line-height: 30px;
    margin-left: 40px;
}

.game-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.game-one,
.game-two,
.game-three {
    width: 360px;
    max-width: 100%;
}

.game-img {
    margin-bottom: 27px;
    position: relative;
}

.game-img img {
    max-width: 100%;
}

.game-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, .92);
    transform: scale(1.02);
    transition: all .3s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-effect:hover {
    transform: scale(1);
    opacity: 1;
}

.effect-left {
    position: absolute;
    top: 25px;
    left: 25px;
    color: #e5e0d5;
    font-size: 14px;
}

.effect-left .time:before {
    content: '|';
    display: inline-block;
    margin: 0 .5em 0 .2em;
}

.game-effect .detail {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    pointer-events: all;
    display: block;
    position: absolute;
}

.game-effect .score {
    top: 25px;
    right: 25px;
    pointer-events: all;
    display: block;
    position: absolute;
    color: #e5e0d5;
    font-size: 14px;
}

.game-effect .view {
    display: block;
    color: #e5e0d5;
    font-size: 14px;
    font-weight: 700;
    pointer-events: all;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: .4em;
}

.game-effect .view:after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 10px;
    background-image: url(./arrow-right-write.svg);
    background-size: 100% 100%;
    margin-left: 10px;
}

.game-box a h3 {
    font-size: 800;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
    transition: all .2s;
}

.game-box a h3:hover {
    color: #0078ff;
}

.game-user {
    margin-top: 20px;
}

.game-user img {
    vertical-align: middle;
    width: 20px;
}

.game-user span {
    display: inline-block;
    font-size: 14px;
    color: #999999;
}

/* 软件 */
.software {
    padding-top: 100px;
    position: relative;
}

.software h2,
h3 {
    font-family: '宋体';
}

.software:before {
    content: '';
    background-image: url(./软件背景.png);
    position: absolute;
    width: 100%;
    height: 78%;
    top: 50%;
    left: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    transform: translate(-50%, -50%);
}

.software-container {
    width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
}

.software-title {
    margin-bottom: 40px;
}

.software-title img {
    width: 30px;
    float: left;
}

.software-title h2 {
    font-size: 24px;
    color: #333333;
    height: 30px;
    line-height: 30px;
    margin-left: 40px;
}

.software-service {
    position: relative;
    border-radius: 10px;
    height: 700px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 41px -10px rgba(158, 158, 158, 0.58);
}

.service-text {
    margin-top: 60px;
}

.service-text h3 {
    text-align: center;
}

.service-text p {
    width: 340px;
    margin: 0 auto;
    font-size: 14px;
    color: #999999;
    margin-top: 10px;
    word-break: break-all;
    word-wrap: break-word;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.software-box {
    width: 200px;
    height: 220px;
    margin: 30px 30px;
    margin-bottom: 0;
}

.software-box img {
    display: block;
    width: 80px;
    margin: 20px auto;
}

.software-box h3 {
    text-align: center;
}

.software-box a {
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    background-color: #0078ff;
    transition: all .3s;
}

.software-box a:hover {
    background-color: #04132a;
}

.software-box span {
    display: block;
    color: #ffffff;
    margin-top: 10px;
    text-align: center;
}

/* 更多 */
.more {
    width: 1240px;
    height: 36px;
    margin-top: 58px;
    text-align: center;
}

.cust-btn {
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: .4em;
    color: #282828;
    z-index: 0;
    padding: 5px 24px 5px 0;
}

.cust-btn:before {
    content: '';
    width: 80px;
    height: 125%;
    position: absolute;
    bottom: -5px;
    right: 0;
    z-index: -1;
    background-color: #a9d2ff;
    transition: all .3s ease;
}

.arrow-icon:after {
    content: '';
    background-image: url(./arrow-right.svg);
    background-size: 100% 100%;
    background-position: center center;
    width: 22px;
    height: 6px;
    position: absolute;
    right: -12px;
    top: 50%;
    margin-top: -3px;
}

.cust-btn:hover:before {
    height: 25%;
}

/* 网站 */
.website {
    margin: 60px 0;
    background-color: #f4f5f9;
}

.website h2,
h4 {
    font-family: '宋体';
}

.web-container {
    padding-bottom: 40px;
}

.web-title {
    width: 1240px;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 40px;
}

.web-title img {
    width: 30px;
    float: left;
}

.web-title h2 {
    font-size: 24px;
    color: #333333;
    height: 30px;
    line-height: 30px;
    margin-left: 40px;
}

.web-boxes {
    display: flex;
    width: 1240px;
    margin: 20px auto;
    justify-content: space-between;
}

.web-boxes a {
    transform: translateY(0);
    transition: all 0.3s;
}

.web-boxes a:hover {
    transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3);
}

.web-box {
    width: 230px;
    height: 120px;
    border-radius: 6px;
    background-color: #ffffff;
}

.web-box .top {
    padding-top: 8px;
    padding-left: 100px;
}

.web-box .top img {
    width: 14px;
    vertical-align: middle;
}

.web-box .top span {
    vertical-align: middle;
    font-size: 10px;
    margin-right: 10px;
    color: #999999;
}

.web-box .introduce {
    margin-left: 10px;
}

.introduce .in-img {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 4px;
}

.in-img img {
    height: 50px;
    display: block;
    margin: 0 auto;
}

.introduce .in-text {
    float: left;
    width: 150px;
    height: 50px;
}

.in-text h4 {
    margin-top: 4px;
    color: #333333;
}

.web-boxes a:hover h4 {
    color: #0078ff;
}

.in-text p {
    margin-top: 2px;
    font-size: 10px;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.classify {
    width: 200px;
    margin-left: 20px;
}

.classify span {
    width: 30px;
    height: 20px;
    font-size: 10px;
    color: #999999;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    line-height: 20px;
    background-color: #f4f5f9;
}

.classify img {
    width: 20px;
    margin-left: 30px;
    vertical-align: middle;
}

/* 页尾 */
.foot {
    background-color: #04132a;
}

.foot-container {
    display: flex;
    padding: 40px 0;
    justify-content: space-around;
    margin: 0 auto;
}

.foot-logo img {
    height: 80px;
}

.foot-contact img {
    height: 80px;
}